<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar" style="height: auto;">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="assets/img/two_cat.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>{{user.name}}</p>
        <!-- Status -->
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>

    <!-- search form (Optional) -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
      </div>
    </form>
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">HEADER</li>
      <!-- Optionally, you can add icons to the links -->
      <!--<li class="active"><a href="#"><i class="fa fa-th"></i> <span>Link</span></a></li>-->
      <!--<li><a href="#"><i class="fa fa-th"></i> <span>Another Link</span></a></li>-->
      <li class="treeview" *ngFor="let menuName of menuNames">
        <a href="#"><i class="fa fa-th"></i> <span>{{menuName}}</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li *ngFor="let menu of menus"><a *ngIf="menu.menu==menuName" (click)="navigateToUrl(menu.url)" class="pointer"><i class="fa fa-circle-o"></i>{{menu.detail}}</a></li>
        </ul>
      </li>
      <!--<li class="treeview">-->
        <!--<a href="#"><i class="fa fa-th"></i> <span>商品管理</span>-->
          <!--<span class="pull-right-container">-->
              <!--<i class="fa fa-angle-left pull-right"></i>-->
            <!--</span>-->
        <!--</a>-->
        <!--<ul class="treeview-menu">-->
          <!--<li><a [routerLink]="['/goods/list']"><i class="fa fa-circle-o"></i>商品列表</a></li>-->
          <!--<li><a [routerLink]="['/category/list']"><i class="fa fa-circle-o"></i>商品分类</a></li>-->
        <!--</ul>-->
      <!--</li>-->
      <!--<li class="treeview">-->
        <!--<a href="#"><i class="fa fa-th"></i> <span>库存管理</span>-->
          <!--<span class="pull-right-container">-->
              <!--<i class="fa fa-angle-left pull-right"></i>-->
            <!--</span>-->
        <!--</a>-->
        <!--<ul class="treeview-menu">-->
          <!--<li><a [routerLink]="['/stock/list']"><i class="fa fa-circle-o"></i>单据列表</a></li>-->
          <!--<li><a [routerLink]="['/stock/complimentary/list']"><i class="fa fa-circle-o"></i>赠送单</a></li>-->
          <!--<li><a [routerLink]="['/stock/list']" [queryParams]="{type:1}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fa fa-circle-o"></i>报警单</a></li>-->
          <!--<li><a [routerLink]="['/stock/list']" [queryParams]="{type:2}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fa fa-circle-o"></i>报损单</a></li>-->
          <!--<li><a [routerLink]="['/stock/list']" [queryParams]="{type:3}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fa fa-circle-o"></i>报溢单</a></li>-->
        <!--</ul>-->
      <!--</li>-->
      <!--<li class="treeview">-->
        <!--<a href="#"><i class="fa fa-th"></i> <span>客户管理</span>-->
          <!--<span class="pull-right-container">-->
              <!--<i class="fa fa-angle-left pull-right"></i>-->
            <!--</span>-->
        <!--</a>-->
        <!--<ul class="treeview-menu">-->
          <!--<li><a [routerLink]="['/custom/list']"><i class="fa fa-circle-o"></i>客户列表</a></li>-->
          <!--<li><a [routerLink]="['/custom/detail']"><i class="fa fa-circle-o"></i>添加客户</a></li>-->
        <!--</ul>-->
      <!--</li>-->
      <!--<li class="treeview">-->
        <!--<a href="#"><i class="fa fa-th"></i> <span>进货管理</span>-->
          <!--<span class="pull-right-container">-->
              <!--<i class="fa fa-angle-left pull-right"></i>-->
            <!--</span>-->
        <!--</a>-->
        <!--<ul class="treeview-menu">-->
          <!--<li><a [routerLink]="['/purchase/list']" [queryParams]="{type:1}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fa fa-circle-o"></i>进货单</a></li>-->
          <!--<li><a [routerLink]="['/purchase/list']" [queryParams]="{type:0}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fa fa-circle-o"></i>退货单</a></li>-->
        <!--</ul>-->
      <!--</li>-->
      <!--<li class="treeview">-->
        <!--<a href="#"><i class="fa fa-th"></i> <span>销售管理</span>-->
          <!--<span class="pull-right-container">-->
              <!--<i class="fa fa-angle-left pull-right"></i>-->
            <!--</span>-->
        <!--</a>-->
        <!--<ul class="treeview-menu">-->
          <!--<li><a [routerLink]="['/sale/order/list']" [queryParams]="{type:1}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fa fa-circle-o"></i>销售单</a></li>-->
          <!--<li><a [routerLink]="['/sale/order/list']" [queryParams]="{type:0}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fa fa-circle-o"></i>退货单</a></li>-->
          <!--<li><a [routerLink]="['/sale/strategy/list']"><i class="fa fa-circle-o"></i>促销策略</a></li>-->
        <!--</ul>-->
      <!--</li>-->
      <!--<li class="treeview">-->
        <!--<a href="#"><i class="fa fa-th"></i> <span>账户管理</span>-->
          <!--<span class="pull-right-container">-->
              <!--<i class="fa fa-angle-left pull-right"></i>-->
            <!--</span>-->
        <!--</a>-->
        <!--<ul class="treeview-menu">-->
          <!--<li><a [routerLink]="['/account/list']"><i class="fa fa-circle-o"></i>账户列表</a></li>-->
          <!--<li><a [routerLink]="['/account/detail']"><i class="fa fa-circle-o"></i>添加账户</a></li>-->
        <!--</ul>-->
      <!--</li>-->
      <!--<li class="treeview">-->
        <!--<a href="#"><i class="fa fa-th"></i> <span>财务管理</span>-->
          <!--<span class="pull-right-container">-->
              <!--<i class="fa fa-angle-left pull-right"></i>-->
            <!--</span>-->
        <!--</a>-->
        <!--<ul class="treeview-menu">-->
          <!--<li><a [routerLink]="['/receipt/list']"><i class="fa fa-circle-o"></i>收款单</a></li>-->
          <!--<li><a [routerLink]="['/payment/list']"><i class="fa fa-circle-o"></i>付款单</a></li>-->
        <!--</ul>-->
      <!--</li>-->
      <!--<li class="treeview">-->
        <!--<a href="#"><i class="fa fa-th"></i> <span>用户管理</span>-->
          <!--<span class="pull-right-container">-->
              <!--<i class="fa fa-angle-left pull-right"></i>-->
            <!--</span>-->
        <!--</a>-->
        <!--<ul class="treeview-menu">-->
          <!--<li><a [routerLink]="['/user/list']"><i class="fa fa-circle-o"></i>用户列表</a></li>-->
          <!--<li><a [routerLink]="['/user/detail']"><i class="fa fa-circle-o"></i>添加用户</a></li>-->
        <!--</ul>-->
      <!--</li>-->
      <!--<li class="treeview">-->
        <!--<a href="#"><i class="fa fa-th"></i> <span>系统日志</span>-->
          <!--<span class="pull-right-container">-->
              <!--<i class="fa fa-angle-left pull-right"></i>-->
            <!--</span>-->
        <!--</a>-->
        <!--<ul class="treeview-menu">-->
          <!--<li><a [routerLink]="['/user/operation']"><i class="fa fa-circle-o"></i>日志列表</a></li>-->
        <!--</ul>-->
      <!--</li>-->
    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>

