<div class="content-wrapper" style="min-height: 960px;">
  <section class="content-header">
    <h1>
      {{label}}
    </h1>
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="['/main']">
          <i class="fa fa-dashboard"></i>首页
        </a>
      </li>
      <li>
        <a [routerLink]="['/sale/order/list']">{{title}}</a>
      </li>
      <li class="active">
        <a [routerLink]="['/sale/order/detail']">{{label}}</a>
      </li>
    </ol>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box">
          <div class="box-header"></div>
          <form class="form-horizontal">
            <div class="box-body">
              <div class="col-md-3"></div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleInputName" class="col-sm-3 control-label" style="padding-top: 7px">客户</label>
                  <div class="col-sm-9">
                    <select id="exampleInputName" name="exampleInputName" class="form-control" [(ngModel)]="sale.customId" (change)="setItem()">
                      <option value="-1">请选择销售商</option>
                      <option *ngFor="let custom of customs" value="{{custom.id}}">{{custom.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputRepo" class="col-sm-3 control-label" style="padding-top: 7px">仓库</label>
                  <div class="col-sm-9">
                    <input type="text" id="exampleInputRepo" name="exampleInputRepo" class="form-control" placeholder="请输入仓库" [(ngModel)]="sale.repository">
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputExtra" class="col-sm-3 control-label" style="padding-top: 7px">备注</label>
                  <div class="col-sm-9">
                    <textarea id="exampleInputExtra" name="exampleInputExtra" class="form-control" placeholder="请输入备注" [(ngModel)]="sale.extra" rows="5"></textarea>
                  </div>
                </div>
              </div>
              <div class="col-md-3"></div>
              <div class="col-md-12">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                  <table class="table table-bordered table-striped dataTable" style="font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;border: 1px solid #f4f4f4;">
                    <thead>
                    <tr class="row">
                      <th width="15%">商品编号</th>
                      <th width="15%">商品名称</th>
                      <th width="15%">商品型号</th>
                      <th width="15%">数量</th>
                      <th width="15%">单价</th>
                      <th width="15%">金额</th>
                      <th width="10%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of items;let i = index" class="row">
                      <td>{{item.goodId}}</td>
                      <td>{{item.goodName}}</td>
                      <td>{{item.goodModel}}</td>
                      <td>{{item.sum}}</td>
                      <td>{{item.price}}</td>
                      <td>{{item.total}}</td>
                      <td><a class="btn btn-danger btn-sm" (click)="deleteItem(i)" *ngIf="edit">删除</a></td>
                    </tr>
                    <tr class="row" *ngIf="edit">
                      <td colspan="7" class="no-data-prompt"><a class="btn btn-info btn-sm" (click)="createItem()">添加商品</a></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-2"></div>
              </div>
              <div class="col-md-3"></div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-sm-3 control-label" style="padding-top: 7px">总额</label>
                  <label class="col-sm-9 control-label" style="padding-top: 7px">{{sale.total}}元</label>
                </div>
                <div class="form-group">
                  <label for="exampleInputDis" class="col-sm-3 control-label" style="padding-top: 7px">折让</label>
                  <div class="col-sm-9">
                    <input type="text" id="exampleInputDis" name="exampleInputDis" class="form-control" placeholder="请输入折让" [(ngModel)]="sale.discount" (blur)="computeFinal()">
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputFT" class="col-sm-3 control-label" style="padding-top: 7px">折让后总额</label>
                  <div class="col-sm-9">
                    <input type="text" id="exampleInputFT" name="exampleInputFT" class="form-control" [(ngModel)]="sale.finalTotal" disabled="true">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-3"></div>
                  <div class="col-md-6">
                    <button class="btn btn-primary" (click)="save()" *ngIf="edit">保存</button>
                    <button class="btn btn-info" (click)="submit()" *ngIf="edit">提交</button>
                    <button class="btn btn-danger" (click)="delete()" *ngIf="edit&&sale.number">删除</button>
                    <button class="btn btn-default" (click)="goBack()">返回</button>
                  </div>
                  <div class="col-md-3"></div>
                </div>
              </div>
              <div class="col-md-3"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="modal fade" id="sale" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          (click)="cancel()">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">添加商品</h4>
      </div>
      <div class="modal-body">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
          <label class="control-label col-md-2 col-sm-2 col-xs-2" style="width: 15%">
            选择商品
          </label>
          <div class="col-sm-10">
            <select id="exampleInputAccount" name="exampleInputAccount" class="form-control" [(ngModel)]="orderItem.goodId" (change)="setItem()">
              <option value="-1">请选择商品</option>
              <option *ngFor="let good of goods" value="{{good.id}}">{{good.name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
          <label class="control-label col-md-2 col-sm-2 col-xs-2" style="width: 15%">
            单价
          </label>
          <div class="col-sm-10">
            <input type="number" name="itemMoney" class="form-control" [(ngModel)]="orderItem.price">
          </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
          <label class="control-label col-md-2 col-sm-2 col-xs-2" style="width: 15%">
            数量
          </label>
          <div class="col-sm-10">
            <input type="number" name="itemNum" class="form-control" [(ngModel)]="orderItem.sum" (blur)="setItemSum()">
          </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
          <label class="control-label col-md-2 col-sm-2 col-xs-2" style="width: 15%">
            总金额
          </label>
          <div class="col-sm-10">
            <input type="number" name="itemSum" class="form-control" [(ngModel)]="orderItem.total">
          </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
          <label class="control-label col-md-3 col-sm-3 col-xs-3" style="width: 15%">
            备注
          </label>
          <textarea class="form-control col-md-9 col-xs-9" style="width: 78%;margin-left: 15px" name="itemMoney" [(ngModel)]="orderItem.extra" rows="5"></textarea>
        </div>
        <div style="clear: both"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="send()" data-dismiss="modal">确认</button>
        <button type="button" class="btn btn-default" (click)="cancel()" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

